.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Angkor;
  src: url(./Components//Pages/Assets/BebasNeue-Regular.ttf);
}

.text-light {
  color: #EEEEEE !important;
}

.text-blu {
  color: #76ABAE !important;
}

.bgDarker {
  background-color: #31363F;
}

.logos {
  width: auto;
  height: 50px;
}

.between {
  width: 100%;
  justify-content: space-between;
}

.bgBlu {
  background-color: #76ABAE;
}

.bgLight {
  background-color: #EEEEEE;
}

.angkor {
  font-family: Angkor;
}